html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
    line-height: 1.42857143;
    color: #666666;
}


h1 {
    font-size: 10vh;
    font-weight: 600;
}

h2 {
    font-size: 8vh;
    font-weight: 300;
}

.important {
    color: rgb(27, 27, 88);
    font-weight: 900;
}

.info_block {
    margin-top: 12vh;
    width: 70vw;
    float: left;
    text-align: center;
}

#employee_image {
    margin-top: 12vh;
    width: 30vw;
    float: left;
    max-height: 100vh;
}

.web_kiosk_clock {
    font-size: 15vh;
    text-align: center;
}

#barcode_reader {
    opacity:0;
    overflow:hidden;
    height:1px;
    margin:0;
    padding:0;
}

.hidden {
    display:none
}

#errorbox {
    position: fixed;
    width: 100%;  
    height: 100%;  
    background-color: rgb(190, 50, 50); 
    color: white;
    font-size: 14vh;
    text-align: center;
    font-weight: 400;
    line-height: 18vh;
    margin: 0;
    top: 0;
    padding-top: 20vh;
}

.web_kiosk_board {
    width:100%;
    height:100%;
    text-align: center;
    position: fixed;
    background-color: #fff;
}

.web_kiosk_calltoaction {
    color: white;
    font-weight: 800;
    background-color: orangered;
    font-size: 6vh;
    margin-top: 6vh;
}

.web_kiosk_companylogo {
    height: 30vh;
    margin-top: 5vh;
}