.plb_borders {
    border: 3px solid black
}
.plb_borders_l {
    border-left: 3px solid black
}
.plb_borders_r {
    border-right: 3px solid black
}
.plb_borders_b {
    border-bottom: 3px solid black
}
.plb_borders_t {
    border-top: 3px solid black
}


.plb_container-4 {
    margin: 3.5mm;
    margin-top: 5mm;
    width: 168mm;
    height: 110mm;
    float: left;
}

.plb_img_fit {
    max-width:100%;
    max-height:100%;
}

.plb_header, .plb_body, plb_footer {
    margin:0;
}

.plb_header {
    float: left;
    width: 100%;
    height: 30%;
}

.plb_body {
    float: left;
    text-align: center;
    width: 100%;
    height: 58%;
}

.plb_footer {
    float: left;
    width: 100%;
    height: 12%;
}

.plb_barcode {
    float: left;
    width: 65%;
    height: 100%;
    padding: 3mm;
    text-align: center;
}

.plb_image {
    float: right;
    width: 35%;
    height: 100%;
    padding: 3mm;
    text-align: center;
}

.plb_footer_half {
    float: left;
    padding-left: 2mm;
    width: 50%;
    height: 100%;
}

.plb_footer h5 {
    margin-top: 1mm;
    font-weight: 800;
    font-size: 3mm;
}

.plb_footer h4{
    margin-top: 2mm;
    font-size: 4mm;
}