
body {
    background-color: #dae0e9;
}

.hidden {
    display:none;
}

.employee_shield  {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 2vh;
    margin-bottom:5vh;

    background-color: rgb(75, 75, 85);
    color: white;
    border-bottom: 1px solid black;
}

.employee_img {
    width: 6vh;
    height: 6vh;
    border-radius: 20vh;
    display: inline-block;
    background-size: cover;
    margin-right: 2vh;
}

.employee_name {
    font-size: 3vh;
}

  
.material-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.material-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
.material-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.material-3 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.task {
    width: 90vw;
    background-color: rgb(182, 176, 134);
    color:white;
    display: inline-block;
    margin-bottom: 2vh;
    text-shadow: 0px 0px 3px #777;
}

.task_cover_image, .task_name, .task_project {
    float: left
}

.task_cover_image {
    float: left;
    margin-right: 0.5vw;
    background-size: cover;
    height:15vw;
    width: 15vw;
    position: relative;
}


.taskinfo {
    float: left;
    width: 65vw;
}

.task_basic, .task_details {
    width: 50%;
    height: 7.5vw;
    float: left;
}

.task_name, .task_project {
    width: 100%;
    text-align: left;
    height:50%;
}

.task_name {
    font-size: 2vw;
    font-weight: bold;
}

.task_project {
    font-size: 1.4vw;
    line-height: 1.3vw;
    font-weight: 500;
}

.task_description {
    text-align: initial;
    height:7vw;
    padding: 5px;
    overflow: scroll;
    width: 100%;
    background-color: #fff;
    color: initial;
    margin-bottom: 0.5vh;
    text-shadow: none;
}

.main_wrapper {
    width: 100%;
    text-align: center;
}

.btn_container {
    float:right;
    width: 9vw;
    
}

.taskbtn_small {
    width: 50%;
    float: left;
    font-size: 2.5vw;
    line-height: 3.5vw;
}

.taskbtn_large {
    width: 100%;
    float: left;
    font-size: 6vw;
    line-height: 11vw;
}

.task_details {
    float: left;
    width: 50%;
    padding-top: 2vh;
    padding-left: 2vh;
}

.tasklabel, .taskvalue {
    width:50%;
    float: left;
    text-align:left;
    font-size: 1vw;
    height: 1.2vw;
    margin-bottom: 0.2vh;
}

.tasklabel {
    font-weight: bold;
}

.not_working {
    opacity: 0.3;
}

.alertcard {
    position: fixed;
    font-size: 3vh;
    bottom: 5vh;
    right: 5vw;
}

.quit {
    height: 90%;
    display: inline-block;
    margin-left: 20px;
    font-size: 5vh;
}

.btn_documents {
    font-size: 1.5vw;
    padding: 0;
    width: 2.5vw;
    height: 2.5vw;
    position: absolute;
    bottom: 0.5vw;
    right: 0.5vw;
    line-height: 2.5vw;
    background-color: #414141;
    border-color: #e0e0e0;
}

.btn_documents:hover {
    background-color: #8d8d8d;
    border-color: #5e5e5e;
}

.modal-body > img {
    max-width: 100%;
    max-height: 100%;
}

.modal-content {
    max-height: 90vh;
    max-width: 90vw;
}

.status_blocked {
    background-color: rgb(255, 0, 0);
    color: white;
}

.status_blocked .fa-warning {
    background-color: #000;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.49);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.status_working {
    background-color: rgb(0, 85, 145);
    color: white;
}

.status_done {
    background-color:#248a24
}