body {
    font-family: Arial, Helvetica, sans-serif
}

.page-filler {
    width: 100%;
    height: 358mm;
    padding:0; 
    margin:0;
    page-break-after: always;
}
.vhalf {
    height:48.5%;
    width:100%;
}
.vspace { 
    height:3%;
    width:100%;

}
.hhalf {
    height:100%;
    width:47.5%;
}
.hspace {
    height:100%;
    width:5%;
}

.vhalf, .vspace, .hhalf, .hspace {
    margin:0;
    padding:0;
}

.hhalf, .hspace{
    float: left;
}

#visitor-pagelet {
    text-align: center;
    position:relative;

}

#company-logo {
    height: 15%;
}

#visitor, #visit-statement {
    font-size: 30pt;
}

#visitor, #conductor {
    font-weight:900;
    color: #18153a;
}
#conductor {
    font-size: 20pt;
}
#conductor-label, #visitor-company {
    color:lightslategray;
    font-size:18pt;
}

#visit-statement {
    color:rgb(150, 0, 0);
}

.infogroup {
    background-color: rgb(234, 239, 255);
    border-bottom: 1pt solid rgb(7, 7, 56);
    border-radius:2pt;
    margin-top: 15pt;
}

.tleft {
    text-align: left;
}
.tright {
    text-align: right;
    padding-right: 10mm;
}

.date_label{
    font-weight:900;
    font-size:22;
}
.date {
    font-size:18pt;
    margin-top: -10pt;
    margin-left: 10pt;
}

.adm_info {
    margin-top: 20pt;
}
.talloncino {
    position: absolute;
    bottom:0;
    width:100%;
    height: 60pt;
    margin-bottom:0;
}

h1 {
    font-size:16pt;
    font-weight:900;
}
h3 {
    font-size:8pt;
    font-weight:900;
    margin-bottom: -0.8pt;
}
p3 {

    font-size: 7pt;
}

#welcomebox {
    color: white;
    background-color: rgb(60, 60, 141);
    position: relative;
}

#rules {
    text-align:justify;
    /*background-color: rgb(199, 199, 255);*/
}

#welcomebox, #rules {
    padding: 5mm;
}

.formal {
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    font-size: 5.6pt;
    margin-top: 22pt;
    text-align: center;
    display: block;
}

#leaflet-risk {
    background-image: url(/rds_visit/static/report/img/risk_leaflet.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#plant {
    background-image: url(/rds_visit/static/report/img/plant.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}